.message-panel > .two-col-layout .two-col-layout__main,
.aio {
    display: none !important;
}

.recent-contact,
.message-panel > .two-col-layout .two-col-layout__aside {
    max-width: none !important;
    min-width: none !important;
    width: 100% !important;
}

.recent-contact .viewport-list .viewport-list__inner .list-item {
    pointer-events: none;
}

.recent-contact .viewport-list .viewport-list__inner .list-item * {
    pointer-events: all;
}
